In [1]:
%load_ext lab_black

In [2]:
import sqlite3
from pathlib import Path

import pandas as pd

In [3]:
INPUT_DIR = Path(".") / "data" / "sc-eqtl-mr-input"
assert INPUT_DIR.exists(), INPUT_DIR

OUTPUT_DIR = Path(".") / "data" / "sc-eqtl-mr-output"
assert OUTPUT_DIR.exists(), OUTPUT_DIR

INPUT_FILE = INPUT_DIR / "cancer&T2D&CAD-final-v2.xlsx"
assert INPUT_FILE.exists(), INPUT_FILE

---

# intermediate processing

In [8]:
# need extra dependency openpyxl
xl = pd.ExcelFile(INPUT_FILE, engine="openpyxl")

outcome_group = xl.sheet_names
print(outcome_group)

['breast', 'cervical', 'lung', 'overian', 'prostate', 'Thyroid', 'T2D', 'CAD']

In [9]:
pd_list = []
for _ in outcome_group:
    df = xl.parse(_)
    pd_list.append(df)

for idx, _ in enumerate(pd_list):
    print(outcome_group[idx])
    print(_.columns)
    print("\n")

breast
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP'],
      dtype='object')


cervical
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')


lung
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP'],
      dtype='object')


overian
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')


prostate
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')


Thyroid
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28'],
      dtype='object')


T2D
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP'],
      dtype='object')


CAD
Index(['exposure', 'ENSG_id', 'gene_name', 'cell_type', 'activation_time',
       'id.outcome', 'outcome', 'method', 'nsnp', 'b', 'se', 'pval',
       'steiger_dir', 'steiger_pval', 'steiger_out', 'FDR', 'chr', 'pos',
       'ref', 'alt', 'SNP'],
      dtype='object')

In [6]:
pd_list[1]

,exposure,ENSG_id,gene_name,cell_type,activation_time,id.outcome,outcome,method,nsnp,b,...,steiger_out,FDR,chr,pos,ref,alt,SNP,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,ENSG00000000971_TEMRA_40h_500kb_window_tensorQ...,ENSG00000000971,CFH,TEMRA,40h,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000121,...,PASS,0.967423,1,196930495,A,G,rs1819267,NaN,NaN,NaN
1,ENSG00000002549_CD4_Naive_stim_40h_500kb_windo...,ENSG00000002549,LAP3,CD4_Naive,40h,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000078,...,PASS,0.998798,4,17703044,C,T,rs1008894,NaN,NaN,NaN
2,ENSG00000002822_TEM_5d_500kb_window_tensorQTL.txt,ENSG00000002822,MAD1L1,TEM,5d,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000309,...,PASS,0.879196,7,2026193,A,G,rs12699596,NaN,NaN,NaN
3,ENSG00000003056_CD4_Naive_stim_16h_500kb_windo...,ENSG00000003056,M6PR,CD4_Naive,16h,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000215,...,PASS,0.973664,12,9046852,A,T,rs7957626,NaN,NaN,NaN
4,ENSG00000003402_CD4_Memory_stim_16h_500kb_wind...,ENSG00000003402,CFLAR,CD4_Memory,16h,ukb-b-8777,Cervical cancer,Wald ratio,1,0.000189,...,PASS,0.898636,2,201157024,T,C,rs4482462,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,ENSG00000281103_CD4_Naive_stim_5d_500kb_window...,ENSG00000281103,TRG-AS1,CD4_Naive,5d,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000253,...,PASS,0.879196,7,38345654,A,G,rs62445003,NaN,NaN,NaN
6491,ENSG00000281103_TCM_40h_500kb_window_tensorQTL...,ENSG00000281103,TRG-AS1,TCM,40h,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000221,...,PASS,0.882922,7,38348493,G,A,rs11761741,NaN,NaN,NaN
6492,ENSG00000281103_TCM_5d_500kb_window_tensorQTL.txt,ENSG00000281103,TRG-AS1,TCM,5d,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000392,...,PASS,0.813220,7,38384438,A,G,rs2072505,NaN,NaN,NaN
6493,ENSG00000281103_TEM_40h_500kb_window_tensorQTL...,ENSG00000281103,TRG-AS1,TEM,40h,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000360,...,PASS,0.879196,7,38377310,A,G,rs62446760,NaN,NaN,NaN
6494,ENSG00000281103_TN_5d_500kb_window_tensorQTL.txt,ENSG00000281103,TRG-AS1,TN,5d,ukb-b-8777,Cervical cancer,Wald ratio,1,-0.000275,...,PASS,0.879196,7,38363450,G,C,rs4993385,NaN,NaN,NaN

In [7]:
common_col_names = pd_list[0].columns.to_list()
common_col_names

['exposure',
 'ENSG_id',
 'gene_name',
 'cell_type',
 'activation_time',
 'id.outcome',
 'outcome',
 'method',
 'nsnp',
 'b',
 'se',
 'pval',
 'steiger_dir',
 'steiger_pval',
 'steiger_out',
 'FDR',
 'chr',
 'pos',
 'ref',
 'alt',
 'SNP']

In [10]:
raw_df = pd.concat(
    [
        _[common_col_names].assign(outcome_group=outcome_group[idx])
        for idx, _ in enumerate(pd_list)
    ]
).reset_index(drop=True)

raw_df.info()

raw_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62573 entries, 0 to 62572
Data columns (total 22 columns):
exposure           62573 non-null object
ENSG_id            62573 non-null object
gene_name          62573 non-null object
cell_type          62573 non-null object
activation_time    62573 non-null object
id.outcome         62573 non-null object
outcome            62573 non-null object
method             62573 non-null object
nsnp               62573 non-null int64
b                  62573 non-null float64
se                 62573 non-null float64
pval               62573 non-null float64
steiger_dir        62573 non-null bool
steiger_pval       62573 non-null float64
steiger_out        62573 non-null object
FDR                62573 non-null float64
chr                62573 non-null int64
pos                62573 non-null int64
ref                60408 non-null object
alt                62573 non-null object
SNP                62573 non-null object
outcome_group      62573 non-null object
dtypes: bool(1), float64(5), int64(3), object(13)
memory usage: 10.1+ MB

,exposure,ENSG_id,gene_name,cell_type,activation_time,id.outcome,outcome,method,nsnp,b,...,steiger_dir,steiger_pval,steiger_out,FDR,chr,pos,ref,alt,SNP,outcome_group
0,ENSG00000000971_TEMRA_40h_500kb_window_tensorQ...,ENSG00000000971,CFH,TEMRA,40h,ieu-a-1126,Breast cancer,Wald ratio,1,-0.000993,...,True,6.342927e-12,PASS,0.976321,1,196930495,A,G,rs1819267,breast
1,ENSG00000002549_CD4_Naive_stim_40h_500kb_windo...,ENSG00000002549,LAP3,CD4_Naive,40h,ieu-a-1126,Breast cancer,Wald ratio,1,0.001960,...,True,2.402774e-06,PASS,0.980297,4,17703044,C,T,rs1008894,breast
2,ENSG00000002822_TEM_5d_500kb_window_tensorQTL.txt,ENSG00000002822,MAD1L1,TEM,5d,ieu-a-1126,Breast cancer,Wald ratio,1,-0.023363,...,True,4.453140e-20,PASS,0.244916,7,2026193,A,G,rs12699596,breast
3,ENSG00000003402_CD4_Memory_stim_16h_500kb_wind...,ENSG00000003402,CFLAR,CD4_Memory,16h,ieu-a-1126,Breast cancer,Wald ratio,1,0.012650,...,True,1.178543e-08,PASS,0.449249,2,201157024,T,C,rs4482462,breast
4,ENSG00000003402_CD4_Memory_stim_40h_500kb_wind...,ENSG00000003402,CFLAR,CD4_Memory,40h,ieu-a-1126,Breast cancer,Wald ratio,1,0.021620,...,True,2.801539e-23,PASS,0.449249,2,201157024,T,C,rs4482462,breast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62568,ENSG00000281103_TCM_40h_500kb_window_tensorQTL...,ENSG00000281103,TRG-AS1,TCM,40h,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.007136,...,True,7.200338e-06,PASS,0.814660,7,38348493,G,A,rs11761741,CAD
62569,ENSG00000281103_TCM_5d_500kb_window_tensorQTL.txt,ENSG00000281103,TRG-AS1,TCM,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.001162,...,True,1.583050e-09,PASS,0.976542,7,38384438,A,G,rs2072505,CAD
62570,ENSG00000281103_TEM_40h_500kb_window_tensorQTL...,ENSG00000281103,TRG-AS1,TEM,40h,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.009537,...,True,2.320949e-11,PASS,0.814660,7,38377310,A,G,rs62446760,CAD
62571,ENSG00000281103_TN_5d_500kb_window_tensorQTL.txt,ENSG00000281103,TRG-AS1,TN,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.007696,...,True,6.819322e-07,PASS,0.825674,7,38363450,G,C,rs4993385,CAD
62572,ENSG00000282851_CD4_Memory_stim_5d_500kb_windo...,ENSG00000282851,BISPR,CD4_Memory,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,0.002490,...,True,6.820702e-24,PASS,0.962552,19,17422945,C,T,rs10416672,CAD

In [11]:
_output_file = OUTPUT_DIR / "sc-eqtl-mr-tmp.csv"
raw_df.to_csv(_output_file, index=False)

---

# stage1 processing

In [12]:
_input_file = OUTPUT_DIR / "sc-eqtl-mr-tmp.csv"
raw_df = pd.read_csv(_input_file)

## pre-proc diagnostics

In [20]:
# null values
raw_df[["ref", "outcome_group"]].groupby("outcome_group")["ref"].value_counts(
    dropna=False
)

outcome_group  ref
CAD            G      2183
               C      1837
               T      1498
               A      1394
               NaN     266
               CCT      20
               TA        8
               CA        4
               CT        3
               GA        3
               GT        3
               AT        1
               GC        1
T2D            G      2465
               C      2040
               T      1651
               A      1542
               NaN     294
Thyroid        G      2009
               C      1707
               T      1505
               A      1400
               NaN     260
breast         G      2602
               C      2184
               T      1807
               A      1675
               NaN     230
cervical       G      1878
               C      1671
               A      1372
               T      1345
               NaN     229
lung           G      2519
               C      2081
               T      1759
               A      1643
               NaN     319
overian        G      2602
               C      2183
               T      1805
               A      1675
               NaN     233
               CCT       2
prostate       G      2635
               C      2200
               T      1797
               A      1693
               NaN     334
               CA        2
               CCT       2
               CT        2
Name: ref, dtype: int64

In [65]:
# category counts

# num snps
cate_cols = [
    "nsnp",
    "outcome",
    "outcome_group",
    "method",
    "cell_type",
    "activation_time",
]
for _ in cate_cols:
    print(_)
    raw_df[_].value_counts().pipe(print)
    print("\n")

nsnp
1    62573
Name: nsnp, dtype: int64


outcome
Prostate cancer           8665
Ovarian cancer            8500
Breast cancer             8498
Lung cancer               8321
Type 2 diabetes           7992
Coronary heart disease    7221
Thyroid cancer            6881
Cervical cancer           6495
Name: outcome, dtype: int64


outcome_group
prostate    8665
overian     8500
breast      8498
lung        8321
T2D         7992
CAD         7221
Thyroid     6881
cervical    6495
Name: outcome_group, dtype: int64


method
Wald ratio    62573
Name: method, dtype: int64


cell_type
CD4_Naive          13979
TN                 13065
CD4_Memory         12073
TCM                 8729
TEM                 4918
TN_IFN              2602
TN_cycling          2198
TN_HSP              1191
nTreg                698
T_ER-stress          683
TEM_HLApositive      651
TM_ER-stress         340
TN_NFKB              327
TCM_LA               275
TN_LA                257
TEM_LA               215
TEMRA                163
HSP                  119
TN_IFN_LA             40
TN2                   21
TM_cycling            17
TEMRA_LA              12
Name: cell_type, dtype: int64


activation_time
40h    19940
5d     17632
16h    12787
0h     11940
\        274
Name: activation_time, dtype: int64

## value uniqueness for identifier combination

In [31]:
# NOTE: only one id.outcome per outcome_group

id_cols = [
    "outcome_group",
    "ENSG_id",
    "id.outcome",
    "method",
    "cell_type",
    "activation_time",
]

df = raw_df.groupby(id_cols).size().rename("count").to_frame()
df[df["count"] > 1]

Empty DataFrame
Columns: [count]
Index: []

In [49]:
raw_df[["outcome_group", "outcome"]].drop_duplicates()

      outcome_group                 outcome
0            breast           Breast cancer
8498       cervical         Cervical cancer
14993          lung             Lung cancer
23314       overian          Ovarian cancer
31814      prostate         Prostate cancer
40479       Thyroid          Thyroid cancer
47360           T2D         Type 2 diabetes
55352           CAD  Coronary heart disease

## identifiers, and identifier-label uniqueness

In [61]:
# gene_id, gene_name
_df = (
    raw_df[["ENSG_id", "gene_name"]]
    .drop_duplicates()
    .groupby("ENSG_id")
    .size()
    .rename("count")
    .to_frame()
    .loc[lambda df: df["count"] > 1]
)
print(f"ENSG_ID uniq: {len(_df)}")

if len(_df) > 0:
    print(_df)
    __df = raw_df[raw_df["ENSG_id"].isin(_df.index)][
        ["ENSG_id", "gene_name"]
    ].drop_duplicates()
    print(__df)

gene_table = (
    raw_df[["ENSG_id", "gene_name"]]
    .rename(columns={"ENSG_id": "gene_id"})
    .drop_duplicates()
    .reset_index(drop=True)
)
gene_table

ENSG_ID uniq: 2
                 count
ENSG_id
ENSG00000099785      2
ENSG00000260088      2
               ENSG_id     gene_name
858    ENSG00000099785        MARCH2
8214   ENSG00000260088        RP11-9
48158  ENSG00000099785        MARCH3
55081  ENSG00000260088  RP11-92G12.3

              gene_id gene_name
0     ENSG00000000971       CFH
1     ENSG00000002549      LAP3
2     ENSG00000002822    MAD1L1
3     ENSG00000003402     CFLAR
4     ENSG00000004534      RBM6
...               ...       ...
1672  ENSG00000122359    ANXA11
1673  ENSG00000139190     VAMP1
1674  ENSG00000153898    MCOLN2
1675  ENSG00000171916   LGALS9C
1676  ENSG00000247596      TWF2

[1677 rows x 2 columns]

In [60]:
# outcome_id, outcome_name
_df = (
    raw_df[["id.outcome", "outcome"]]
    .drop_duplicates()
    .groupby("id.outcome")
    .size()
    .rename("count")
    .to_frame()
    .loc[lambda df: df["count"] > 1]
)
print(f"id.outcome uniq: {len(_df)}")

if len(_df) > 0:
    print(_df)
    __df = raw_df[raw_df["id.outcome"].isin(_df.index)][
        ["id.outcome", "outcome"]
    ].drop_duplicates()
    print(__df)

outcome_table = (
    raw_df[["id.outcome", "outcome"]]
    .rename(columns={"id.outcome": "outcome_id", "outcome": "outcome_name"})
    .drop_duplicates()
    .reset_index(drop=True)
)
outcome_table

id.outcome uniq: 0

   outcome_id            outcome_name
0  ieu-a-1126           Breast cancer
1  ukb-b-8777         Cervical cancer
2   ieu-a-966             Lung cancer
3  ieu-a-1120          Ovarian cancer
4    ieu-b-85         Prostate cancer
5  OH-a-00001          Thyroid cancer
6  OH-a-00002         Type 2 diabetes
7  OH-a-00003  Coronary heart disease

# stage2 processing

## appropriate renames

In [68]:
main_df = (
    raw_df.drop(columns=["exposure"])
    .rename(
        columns={
            "ENSG_id": "gene_id",
            "id.outcome": "outcome_id",
            "outcome": "outcome_name",
        }
    )
    .reset_index(drop=True)
)

main_df.info()
main_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62573 entries, 0 to 62572
Data columns (total 21 columns):
gene_id            62573 non-null object
gene_name          62573 non-null object
cell_type          62573 non-null object
activation_time    62573 non-null object
outcome_id         62573 non-null object
outcome_name       62573 non-null object
method             62573 non-null object
nsnp               62573 non-null int64
b                  62573 non-null float64
se                 62573 non-null float64
pval               62573 non-null float64
steiger_dir        62573 non-null bool
steiger_pval       62573 non-null float64
steiger_out        62573 non-null object
FDR                62573 non-null float64
chr                62573 non-null int64
pos                62573 non-null int64
ref                60408 non-null object
alt                62573 non-null object
SNP                62573 non-null object
outcome_group      62573 non-null object
dtypes: bool(1), float64(5), int64(3), object(12)
memory usage: 9.6+ MB

,gene_id,gene_name,cell_type,activation_time,outcome_id,outcome_name,method,nsnp,b,se,...,steiger_dir,steiger_pval,steiger_out,FDR,chr,pos,ref,alt,SNP,outcome_group
0,ENSG00000000971,CFH,TEMRA,40h,ieu-a-1126,Breast cancer,Wald ratio,1,-0.000993,0.008441,...,True,6.342927e-12,PASS,0.976321,1,196930495,A,G,rs1819267,breast
1,ENSG00000002549,LAP3,CD4_Naive,40h,ieu-a-1126,Breast cancer,Wald ratio,1,0.001960,0.018760,...,True,2.402774e-06,PASS,0.980297,4,17703044,C,T,rs1008894,breast
2,ENSG00000002822,MAD1L1,TEM,5d,ieu-a-1126,Breast cancer,Wald ratio,1,-0.023363,0.011333,...,True,4.453140e-20,PASS,0.244916,7,2026193,A,G,rs12699596,breast
3,ENSG00000003402,CFLAR,CD4_Memory,16h,ieu-a-1126,Breast cancer,Wald ratio,1,0.012650,0.008185,...,True,1.178543e-08,PASS,0.449249,2,201157024,T,C,rs4482462,breast
4,ENSG00000003402,CFLAR,CD4_Memory,40h,ieu-a-1126,Breast cancer,Wald ratio,1,0.021620,0.013989,...,True,2.801539e-23,PASS,0.449249,2,201157024,T,C,rs4482462,breast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62568,ENSG00000281103,TRG-AS1,TCM,40h,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.007136,0.009594,...,True,7.200338e-06,PASS,0.814660,7,38348493,G,A,rs11761741,CAD
62569,ENSG00000281103,TRG-AS1,TCM,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.001162,0.010006,...,True,1.583050e-09,PASS,0.976542,7,38384438,A,G,rs2072505,CAD
62570,ENSG00000281103,TRG-AS1,TEM,40h,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.009537,0.012894,...,True,2.320949e-11,PASS,0.814660,7,38377310,A,G,rs62446760,CAD
62571,ENSG00000281103,TRG-AS1,TN,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,-0.007696,0.010936,...,True,6.819322e-07,PASS,0.825674,7,38363450,G,C,rs4993385,CAD
62572,ENSG00000282851,BISPR,CD4_Memory,5d,OH-a-00003,Coronary heart disease,Wald ratio,1,0.002490,0.015299,...,True,6.820702e-24,PASS,0.962552,19,17422945,C,T,rs10416672,CAD

# Done

## export

In [69]:
db_path = OUTPUT_DIR / "sc-eqtl-mr.db"

with sqlite3.connect(db_path) as conn:
    gene_table.to_sql("GENE", conn, index=True, index_label="idx", if_exists="replace")
    outcome_table.to_sql(
        "OUTCOME", conn, index=True, index_label="idx", if_exists="replace"
    )
    main_df.to_sql(
        "MAIN_DATA", conn, index=True, index_label="idx", if_exists="replace"
    )

## eval

In [71]:
query = """
SELECT * FROM GENE
LIMIT 10
"""

with sqlite3.connect(db_path) as conn:
    df = pd.read_sql(query, conn).set_index("idx")
df

             gene_id gene_name
idx
0    ENSG00000000971       CFH
1    ENSG00000002549      LAP3
2    ENSG00000002822    MAD1L1
3    ENSG00000003402     CFLAR
4    ENSG00000004534      RBM6
5    ENSG00000005020     SKAP2
6    ENSG00000005059      MCUB
7    ENSG00000005187     ACSM3
8    ENSG00000005436     GCFC2
9    ENSG00000006015    REX1BD

In [72]:
query = """
SELECT * FROM OUTCOME
LIMIT 10
"""

with sqlite3.connect(db_path) as conn:
    df = pd.read_sql(query, conn).set_index("idx")
df

     outcome_id            outcome_name
idx
0    ieu-a-1126           Breast cancer
1    ukb-b-8777         Cervical cancer
2     ieu-a-966             Lung cancer
3    ieu-a-1120          Ovarian cancer
4      ieu-b-85         Prostate cancer
5    OH-a-00001          Thyroid cancer
6    OH-a-00002         Type 2 diabetes
7    OH-a-00003  Coronary heart disease

In [75]:
_outcome_id = "ieu-a-1126"
_gene_id = "ENSG00000000971"

query = """
SELECT * FROM MAIN_DATA
WHERE
    gene_id = "{gene_id}" AND
    outcome_id = "{outcome_id}"
""".format(
    outcome_id=_outcome_id, gene_id=_gene_id
)

with sqlite3.connect(db_path) as conn:
    df = pd.read_sql(query, conn).set_index("idx")
df

,gene_id,gene_name,cell_type,activation_time,outcome_id,outcome_name,method,nsnp,b,se,...,steiger_dir,steiger_pval,steiger_out,FDR,chr,pos,ref,alt,SNP,outcome_group
idx,,,,,,,,,,,,,,,,,,,,,
0,ENSG00000000971,CFH,TEMRA,40h,ieu-a-1126,Breast cancer,Wald ratio,1,-0.000993,0.008441,...,1,6.342927e-12,PASS,0.976321,1,196930495,A,G,rs1819267,breast